html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #00ffc8, #008064, #00ffc8);
  color: #fff;
  width: 100vw;
  height: 100vh;
}
body {
  margin: 2.5em;
  padding: 0.5em;
}
main {
  background: #000a;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: underline;
  &:hover, &:focus {
    color: #3af;
  }
  &:visited {
    color: #83f;
  }
  &:visited:hover, &:visited:focus {
    color: #cff
  }
  &:active, &:visited:active {
    color: #55f;
  }
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1em;
  background: #0000
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav > ul > li {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
}

nav > ul > li > a, nav > ul > li > span {
  display: block;
  background: #fff8;
  border: 1px solid #fffc;
  color: #000;
  padding: 0.5em 1em;
  &:not(span) { cursor: pointer; }
  box-shadow: 0 4px 0 #fffa;
  height: 1.5em;
  transform: none;
  margin: 0;
  color: #000;
  text-decoration: none;
  &:not(span):hover, :not(span)&:focus {
    color: #000;
    text-decoration: underline;
  }
  &:not(span):active {
    color: #000;
    box-shadow: none;
    transform: translateY(4px);
  }
}

footer {
  margin-top: 1em;
  padding: 1em;
  background: linear-gradient(to right, #365781, #126d8c);
}

input {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5em;
  border-radius: 6px;
  margin-right: 0.5em;
  font-size: inherit;
  &:disabled {
    background: #555;
    color: #aaa;
    border: 1px solid #aaa;
  }
}
button {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 0.5em;
  padding-bottom: calc(0.5em + 2px);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: inset 0 -2px 1px 0 #555;
  font-size: inherit;
  &:hover, &:focus {
    background: #eee;
  }
  &:active {
    background: #ccc;
    box-shadow: inset 0 2px 1px 0 #555;
    padding-top: calc(0.5em + 2px);
    padding-bottom: 0.5em;
  }
  &:disabled {
    background: #aaa;
    color: #555;
    cursor: not-allowed;
  }
}
.field {
  display: flex;
  justify-content: center;
  margin: 1em;
}
.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

table.mult {
  border-collapse: collapse;
  margin: 1em auto;
  td {
    padding: 0 0.5em;
    text-align: center
  }
}

/*
mjx-container {
  border: 1px solid #f00;
  background-color: #f005;
}
mjx-container mjx-c {
  border: 1px solid #0f0;
  background-color: #0f05;
}
mjx-container :not(mjx-c) {
  border: 1px solid #00f;
  background-color: #00f5;
  padding: 2px;
}
*/
mjx-container {
  max-width: 75vw;
}

#debug {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f00;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5em;
  font-family: monospace;
  font-size: 12px;
  max-height: 50vh;
  overflow-y: scroll;
}
